{{extend 'layout.html'}}

<div>
    <div class="d-flex justify-content-between">
        <h3 class="text-dark font-weight-bold">Edit Employee </h3>
            {{ = A(I('Employee List',_class='fa fa-list'),_target='blank',_class='btn btn-info pt-1 m-1', _href = URL('employee','index'))}}
    </div>
</div>
<hr>
<div>
    <form action="{{=URL('employee','submit')}}" method="POST">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="name">First Name <span class="required text-danger">*</span></label>
                    <input type="text" name="first_name" value='{{=item.first_name}}' class="form-control" id="first_name" required>
                </div>
                <div class="form-group">
                    <label for="name">Email <span class="required text-danger">*</span></label>
                    <input type="email" name="email" value='{{=item.email}}' class="form-control" id="email" required>
                </div>
                <div class="form-group">
                    <label for="emp_type">Employee Type <span class="required text-danger">*</span></label>
                    <select name="emp_type" id="emp_type" class="form-control" required>
                        {{if (item.emp_type =="Admin"):}}
                            <option value="Admin" selected>Admin</option>
                            <option value="General">Management</option>
                            {{else:}}
                            <option value="General">General</option>
                            <option value="Admin" selected>Admin</option>
                        {{pass}}
                    </select>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label for="last_name">Last Name <span class="required text-danger">*</span></label>
                    <input type="text" name="last_name" value='{{=item.last_name}}' class="form-control" id="last_name" required>
                </div>
                <div class="form-group">
                    <label for="team_id">Team</label>
                    <select name="team_id" id="team_id" class="form-control">
                        <option value="" selected>Select Team</option>
                        {{for team in teams:}}                        
                            {{if (item.team_id == team.id):}}
                                <option value="{{=team.id}}" selected>{{=team.team_name}}</option>
                            {{else:}}
                                <option value="{{=team.id}}">{{=team.team_name}}</option>
                            {{pass}}
                        {{pass}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="department">Departmant <span class="required text-danger">*</span></label>
                    <input type="text" name="department" value='{{=item.department}}' class="form-control" id="department" required>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
           <button type="submit" class="btn btn-primary col-2">Done</button>
           <input type="reset" value="Reset" class="btn btn-secondary col-2">
        </div> 
    </form>    
</div>